<header></header>
<div class="wrapper">
    <div class="header">
        <h2>What can we help you with</h2>
    </div>
    <div class="wrapper2">
        <div class="card b1">
            <h4>Price Evaluator</h4>
            <p>Our Price Evaluator helps evaluate the price of a car you're interested in buying online. You give us the details, we give you a rating based on our predictions</p>
        </div>
        <div class="card b1">
            <h4>Price Suggestor</h4>
            <p>Interested in selling a car but not knowing how to price it fairly? We got you! This is stronger than a normal predictor because it's multi-output decisioning, not just a single number.</p>
        </div>
        <div class="card b1">
            <h4>Car Comparison</h4>
            <p>Stuck between cars, noy knowing which one is for you? Find out whats your best fit with our Comparison feature</p>
        </div>
        <div class="card b1">
            <h4>Analytics Dashboard</h4>
            <p>Find out more about the current market with statistics and graphs.</p>
        </div>
    </div>
</div>